*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

body {
    font-family:'Josefin Sans', sans-serif;
    min-height: 100vh;
    min-width: 100vw;
    position: relative;
}

  /* header with logo and navigation*/
.header {
    background-color: #FEFAE0;
    width: 100%;
    position: sticky;
    top: 0;
    display: inline-flex;
    z-index: 10;
    border-bottom: 0.2rem solid #BC6C25 ;
}
.right {
    display: inline-flex;
    list-style: none;
    gap: 1.5rem;
    font-size: 1.5rem;
    padding: 1rem;
    padding-right: 3rem;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
   }
.left {
    display: inline-flex;
    align-items: center;
    float: left;
}
#logo {
    height: 10rem;
    padding: 2rem 3rem;
    margin: 0;
    object-fit: contain;
}
li>a {
    color: #283618;
    text-decoration: none;
    display: inline-flex;
    flex-wrap: nowrap;
}
    a:hover {
    background-color: #DDA15E;
    cursor: pointer;
    padding: 0.5rem 0.5rem;
    border-radius: 4px ;
    }
  
    a:active {
    background-color: white;
    color: #606C38;
    }


  /* all sections */
  main {
   width: 100%;
   position: relative;
   height: 90vh;
  }


  /* about me section */
    .sec1 {
    min-height: 70%;
    background-color: #FEFAE0;
    position: relative;
    z-index: 1;
    scroll-margin-top: 10rem;
  }
#bckgnd {
    background-color: #DDA15E ;
    opacity: 70%;
    height: 80%;
    width: 80%;
    z-index: 3;
    display: flex;
    position: absolute;
    left: 10%;
    top: 10%;
    right: 10%;
    border-radius: 1%;
    justify-content:center;
    align-items: center;
    gap: 1rem;
    border: #283618 0.2rem solid;
  }
  #avatar {
    max-height: 40%;
    z-index: 10;
    border-radius: 25%;
    padding: 0.5rem;
  }
  #name {
    font-size: 3rem;
    color: #283618 ;
    z-index: 10;
    display: block;
    padding: 1rem;
  }
  
  
  /* button to change about me text*/
  .wrapper{
    padding-top: 1rem;
    z-index: 10;
    display: flex;
    position: relative;
    top: 1rem;  
    
}
  
  .wrapper>a{
    display: flex;
    width: 10rem;
    height: 3rem;
    line-height: 40px;
    font-size: 11px;
    font-family: sans-serif;
    text-decoration: none;
    color: #333;
    border: 2px solid #333;
    letter-spacing: 2px;
    text-align: center;
    transition: all .35s;
    z-index: 10;
    position: relative;
    align-items: center;
    justify-content: center;
  }
  
  .wrapper>a span{
    position: relative;
    z-index: 2;
  }
  
  .wrapper>a:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #283618;
    transition: all .35s;
  }
  
  .wrapper>a:hover{
    color: #fff;
  }
  
  .wrapper>a:hover:after{
    width: 100%;
  }

  /* projects accordion */
  .sec2, .sec3, footer, .contactsec {
    background-color: #FEFAE0;
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #283618;
    }
    #projects, #skills, #contact {
        font-size: 2rem;
        color: #283618 ;
        display: block;
    }
    .accordion {
        max-width: 80%;
    }
    .accordion .contentBx {
        position: relative;
        margin: 1rem 1rem;
    }
    .accordion .contentBx .label {
        position: relative;
        padding: 1rem;
        background: #DDA15E;
        color: #283618;
        cursor: pointer;
       
    }
    .accordion .contentBx .label::before {
        content: '+';
        position: absolute;
        top: 50%;
        right: 1rem;
        transform: translateY(-50%);
        font-size: 1.5rem;
    }
    .accordion .contentBx.active .label::before {
        content: '-'; 
    }
    .accordion .contentBx .content {
        position: relative;
        background: #DDA15E;
        height: 0;
        overflow: hidden;
        transition: 0.4s;
        overflow-y: auto;
    }
    .accordion .contentBx.active .content {
        height: auto;
        padding: 1rem;
        line-height: 2rem;
        color: #283618;
    }

/* skills section */
    .sec3 {
      padding: 3rem 2rem;
    }
    #skills-container {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
    }
    
    .skills-icons, .contact-icons {
      display: flex;
      font-size: 2.5em;
      gap: 0.5rem;
      width: 100%;
      justify-content: center;
      padding: 1.5rem 0;
      gap: 1rem;
      color: #BC6C25;
    }
/* footer section */
    .heart {
      color: #BC6C25;
    }
    footer {
      background-color: #FEFAE0;
      padding: 1.5em;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
      color: #283618;
      }

/* contacts section */
    .contact-container>p {
      padding: 1.5rem 0 0 0;
    }

    .contact-icons>a {
       color: #BC6C25;
    }
    .contactsec {
     scroll-margin-top: 10rem;
    }

    /* for responsivenes*/
@media screen and (min-width: 415px) and  (max-width: 822px) {
    .header {
        justify-content: space-around;
        align-items: center;
        align-content: center;    
    }
    .left {
        justify-self: left;
        align-self: center;
        justify-content: space-between;
    }
    .right { 
        flex-wrap: wrap;
        
        align-items: right;
        text-align: right;
        gap: 1rem;
        padding-right: 2rem;    
        font-size: 1rem; 
    }
    li>a {
       flex-direction: row;
    }
    #bckgnd {
        flex-direction: column;
        justify-content: flex-start;
    }
    .skills-icons {
      font-size: 2rem;
    }
    
}
 /* for responsivenes*/

  @media screen and (max-width: 512px) {
    .header {
        display: block;
        justify-content: space-around;
        align-items: center;
        align-content: center; 
    }
    .left {
        width: 100%;
        flex-direction: column;
    }
    .right {
        font-size: 1rem; 
        flex-wrap: wrap;
        flex-direction: column;
        text-align: center;
        width: 100%;
        gap: 1rem;
        padding: 0 0.5rem 0.5rem 0.5rem;  
    }
    li>a {
        text-align: center;
    }
    .sec1 {
        scroll-margin-top: 18rem;
    }
    #bckgnd {
      flex-direction: column;
      justify-content: flex-start
    }
    #name {
    text-align: center;
    }
    .wrapper {
        justify-content: center;
        padding: 1rem;
        top: 0.2rem;  
      }
      .skills-icons {
        font-size: 2rem;
      }
      .contactsec {
     scroll-margin-top: 18rem;
    }
  }
